<!DOCTYPE html>
<html>
  <head lang="en">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>
    <script type="text/javascript">
      var socket;
      var keyboard = ['qwe', 'rtyu', 'iop', 'asd', 'fgh', 'jkl', 'zxc', 'vbnm'];
      var cursor = 1;
      var windowIndex = [0,2];

      function setKeyboard() {
        $(".keycontainer").empty();
	cursor = 1;
	windowIndex = [0,2];
	keyboard.forEach(function(key, index){
          var keyDiv = $('<div>').append(key);
	  keyDiv.css({
	    "height": "100%",
	    "width": "30%",
	    "float": "left",
	    "border-style": "solid",
	    "text-align": "center"
	  });
	  keyDiv.click(function(event){
	    $("#input").append(' ' + $.trim($(this).text()));
	    socket.emit("request", {data: $.trim($("#input").text())});
	    return false;
	  });
	  $('.keycontainer').append(keyDiv);
	});
        $('.keycontainer').children().each(function(index) {
	  if (windowIndex[0] <= index && index <= windowIndex[1]) {
	    $('.keycontainer').children().eq(index).show();
	  } else {
	    $('.keycontainer').children().eq(index).hide();
	  }
        });   
      }

      $(document).ready(function(){
        socket = io.connect("http://" + document.domain + ":" + location.port + "/mynamespace");
        socket.on('response', function(msg){
          if (msg.data.letter == undefined) {
            return false;
          }
	  keyboard = msg.data.letter.split(",");
	  setKeyboard(socket, keyboard);
	  $("#word").text(msg.data.word);
        });
            
	setKeyboard();
	$('.keycontainer').on('swiperight', function(event){
            if (cursor == 1) {
	      return;
	    }
            cursor--;
	    if (cursor == windowIndex[0] && windowIndex[0] != 0) {
	      windowIndex = [windowIndex[0] - 1, windowIndex[1] - 1];
	      $('.keycontainer').children().each(function(index) {
	        if (windowIndex[0] <= index && index <= windowIndex[1]) {
		  $('.keycontainer').children().eq(index).show();
		} else {
		  $('.keycontainer').children().eq(index).hide();
		}
	      });
	    }
        });
	$('.keycontainer').on('swipeleft', function(event){
	    if (cursor == 6) {
	      return;
	    }
	    cursor++;
	    if (cursor == windowIndex[1] && windowIndex[1] != keyboard.length - 1) {
	      windowIndex = [windowIndex[0] + 1, windowIndex[1] + 1];
	      $('.keycontainer').children().each(function(index) {
	        if (windowIndex[0] <= index && index <= windowIndex[1]) {
		  $('.keycontainer').children().eq(index).show();
		} else {
		  $('.keycontainer').children().eq(index).hide();
		}
	      });
	    }
	
	});
      });
    </script>
    <meta charset="UTF-8">
    <title>multi cursor test</title>
  </head>
  <body>
    <div id="word" style="height: 30px; margin: auto;"></div>
    <div class="keycontainer" style="height: 50px; margin:auto; width: 100%; user-select: none;"></div>
    <div id="input" style="height: 50px;" ></div>
  </body>
</html>
