<!DOCTYPE html>
<html>
  <head lang="en">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>
    <script src="{{ url_for('static', filename='mackenzie.js')}}"></script>
    <script type="text/javascript">
      $.mobile.autoInitializePage = false;
      var socket;
      var keyboard;
      var cursor = 1;
      var windowIndex = [0,2];
      var startTime;

      function setKeyboard() {
        $(".keycontainer").empty();
	cursor = 1;
	windowIndex = [0,2];
	keyboard.forEach(function(key, index){
          var keyDiv = $('<div>').append(key);
	  keyDiv.css({
	    "height": "100%",
	    "width": "30%",
	    "float": "left",
	    "border-style": "solid",
	    "text-align": "center"
	  });
	  keyDiv.click(function(event){
	    $("#input").append(' ' + $.trim($(this).text()));
	    socket.emit("request", {data: $.trim($("#input").text())});
	    return false;
	  });
	  $('.keycontainer').append(keyDiv);
	});
        $('.keycontainer').children().each(function(index) {
	  if (windowIndex[0] <= index && index <= windowIndex[1]) {
	    $('.keycontainer').children().eq(index).show();
	  } else {
	    $('.keycontainer').children().eq(index).hide();
	  }
        });   
      }
      
      function setSuggest(wordList) {
        $("#word").empty();
	wordList.forEach(function(key, index){
	  var wordDiv = $('<div>').append(key);
	  wordDiv.css({
	    "height": "100%",
	    "width": "18%",
	    "float": "left",
	    "border-style": "solid",
	    "text-align": "center"
	  });
	  wordDiv.click(function(event){
	    $("#selected").append(' '+$.trim($(this).text()));
            if ($("#selected").text() == $("#target").text().toLowerCase()) {
              console.log("test");
              setTarget();
            }
	    $("#input").empty();
	    socket.emit("request", {data: ''});
	    return false;
	  });
	  $("#word").append(wordDiv);
	});
      }
      
      function getRandomInt() {
        var max = mackenzies.length - 1;
        return Math.floor(Math.random() * max);
      }

      function setTarget() {
        if (startTime == undefined) {
	  startTime = performance.now();
	} else {
	  console.log(performance.now() - startTime);
	  startTime = performance.now();
	}
        $("#target").text(mackenzies[getRandomInt()]);
      }

      $(document).ready(function(){
        socket = io.connect("http://" + document.domain + ":" + location.port + "/mynamespace");
        socket.on('response', function(msg){
	  keyboard = msg.data.letter.split(",");
	  setKeyboard();
	  var wordList = msg.data.word.split(",");
	  setSuggest(wordList);
        });

        setTarget();

	$('.keycontainer').on('swiperight', function(event){
            if (cursor == 1) {
	      return;
	    }
            cursor--;
	    if (cursor == windowIndex[0] && windowIndex[0] != 0) {
	      windowIndex = [windowIndex[0] - 1, windowIndex[1] - 1];
	      $('.keycontainer').children().each(function(index) {
	        if (windowIndex[0] <= index && index <= windowIndex[1]) {
		  $('.keycontainer').children().eq(index).show();
		} else {
		  $('.keycontainer').children().eq(index).hide();
		}
	      });
	    }
        });
	$('.keycontainer').on('swipeleft', function(event){
	    if (cursor == 6) {
	      return;
	    }
	    cursor++;
	    if (cursor == windowIndex[1] && windowIndex[1] != keyboard.length - 1) {
	      windowIndex = [windowIndex[0] + 1, windowIndex[1] + 1];
	      $('.keycontainer').children().each(function(index) {
	        if (windowIndex[0] <= index && index <= windowIndex[1]) {
		  $('.keycontainer').children().eq(index).show();
		} else {
		  $('.keycontainer').children().eq(index).hide();
		}
	      });
	    }
	});
      });
    </script>
    <meta charset="UTF-8">
    <title>multi cursor test</title>
  </head>
  <body scroll="no" style="margin: 0; height: 100%; overflow: hidden;">
    <div id="target" style="height: 60px; width:100%; font-size:1.5em"></div>
    <div id="selected" style="height: 60px; width:100%; font-size:1.5em"></div>
    <div id="word" style="height: 30px; width: 100%; font-size: 1em;"></div>
    <div class="keycontainer" style="height: 30px; margin:auto; width: 100%; user-select: none; font-size: 1.5em;"></div>
    <div id="input" style="margin-top: 20px; height: 50px; width: 100%;" ></div>
  </body>
</html>
